p{
  margin:0;
  padding: 0;
}
.my-about {
  background: #f0f2f5;
}
.my-about h1 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
  margin-top: 42px;
  margin-left: 24px;
}
.my-about .contents{
  padding: 50px  32px 0;
} 
.my-about .header-top{
  background: linear-gradient(270deg, #0F0F0F 0%, #24333D 100%);
  line-height: 48px;
  display: flex;
  justify-content: space-between;
}

.my-about .header-top .left{
  margin-left: 66px;
  font-size: 13px;
  font-family: PlayfairDisplay-Black, PlayfairDisplay;
  font-weight: 900;
  color: #FFFFFF;
}
.my-about .header-top .right{
  margin-right: 66px;
  font-size: 13px;
  font-family: PlayfairDisplay-Black, PlayfairDisplay;
  font-weight: 900;
  color: #FFFFFF;
}
.my-about .header-top .active {
  color: #EFBB24;
}

.my-about .contents .title {
  font-size: 16px;
  font-family: Poppins-Regular, Poppins;
  color: black;
  line-height: 24px;
  font-weight: 600;
}
.my-about .contents .desc {
  font-size: 14px;
  font-family: Poppins-Regular, Poppins;
  font-weight: 400;
  color: #000000;
  line-height: 21px;
}
.my-about .contents .desc:nth-of-type(3){
  margin-bottom: 0;
}
.my-about-mddle .card {
  width: 274px;
  height: 180px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
}
.my-about-mddle .card-grids {
  width: 580px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.my-about-mddle .top-aside {
  display: flex;
  justify-content: space-between;
}
.my-about-mddle .top-aside .logs {
  width: 545px;
  height: 455px;
}
.my-about-mddle .imgWrap {
  width: 580px;
  height: 370px;
  background: url('https://ffcap.oss-cn-hangzhou.aliyuncs.com/imgs/2021.png') no-repeat left bottom/contain;
  display: flex;
  justify-content: flex-end;
}
.my-about-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 36px;
}
.myBottom.my-about-bottom .contact {
  color: #EFBB24;
}
.myBottom.my-about-bottom .copy {
  color: #4A4A4A;
}


.about-content  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 28px;
} 
.about-content img {
  width: 77px;
  height: 77px;
  margin-bottom: 20px;
}
.about-content a:nth-child(odd) {
  margin-right: 80px;
}