.upcoming-projects{
  padding:0 35px;
}
.upcoming-projects-content{
    padding-bottom: 30px;
}

.main-title{
  background: linear-gradient(to right, #3023AE, #C86DD7);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px;
    font-weight: 800;
    line-height:30px;
}
