.Menu {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  /* background: rgb(240,244,245); */
  background: #fff;
  padding-top: 120px;
  position: fixed;
  top: 100px;
  left: 0;

}
.Menu .navtab {
  font-size: 16px;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  color: #000000;
  line-height: 25px;
  margin-bottom: 36px;
}
.Menu .navtab.active {
  background: linear-gradient(to right, #3023AE, #C86DD7);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
 
}

.menu-span{
  margin-right: 20px;
  border-radius: 3px;
  padding: 0px 15px;
  line-height: 28px;
  font-size: 16px;
  font-family: TwCenMT-Bold, TwCenMT;
  font-weight: bold;
  color: #B2B7CC;
  border: 1px solid #B2B7CC;
}
.wrong {
  color: red
}