.Fud {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.Fud .content  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 28px;
} 
.Fud .content a{
  display: inline-block;
}
.Fud .content img {
  width: 77px;
  height: 77px;
  margin-bottom: 20px;
}
.Fud .content a:nth-child(odd) {
  margin-right: 80px;
}
.Fud .card p {
  width: 210px;
  height: 40px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #4A4A4A;
  line-height: 20px;
}
.Fud .Fud-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.myBottom.Fud-bottom .contact {
  color: #EFBB24;
;
}
.myBottom.Fud-bottom .copy {
  color: #4A4A4A;
}