p{
  margin:0;
  padding: 0;
}
.home {
  width:100%;
  margin-top: 35px;
  background: #f0f2f5;
}

.home .des {
  padding:0 35px;

}

.des .title {
  font-size:32px;
  font-family: Poppins Bold  ;
  font-weight: bold;
  color: #000000;
  line-height:28px;
}
.des .title1 {
  font-size: 16px;
  font-family: Poppins Medium  ;
  font-weight: Medium;
  color: #000000;
  line-height: 28px;
  margin-top:10px;
  margin-bottom: 10px;
}
.des .title2 {
  font-size: 12px;
  font-family: Poppins-Regular, Poppins;
  font-weight: 400;
  color: #B1B7CE;
  line-height: 18px;
}

.home .start {
  display: block;
  width: 108px;
height: 40px;
background: linear-gradient(135deg, #3023AE 0%, #C86DD7 100%);
box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
border-radius: 6px;
border: 1px solid #F5F5F5;

font-size: 14px;
font-family: TwCenMT-Bold, TwCenMT;
font-weight: bold;
color: #FFFFFF;
line-height: 40px;
margin-top: 24px;
text-align: center;
}
.home-bottom {
  margin-top: 124px;
}
.user-applay{
 
  padding:32px
}
.user-applay .title{
  font-size: 19.2px;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  color: #000000;
  line-height: 40px;
}
.user-applay .title2{

font-size: 32px;
font-family: Poppins-Bold, Poppins;
font-weight: Bold;
color: #000000;
line-height: 80px;
}