ul{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
.previous-project-item{
   /* width:325px; */
   padding:32px;
   box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   opacity: 0.72;
   margin-bottom: 34px;
}

.section1,.section2 li,.section3 li{
    display: flex;
    justify-content: space-between;
}
.section2 li>div:nth-of-type(1),.section3 li>div:nth-of-type(1){

    font-size: 13px;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #000000;
    line-height: 20px;
}
.section2 li>div:nth-of-type(2),.section3 li>div:nth-of-type(2){
 
    font-size: 13px;
    font-family: Poppins-Bold, Poppins;
    font-weight: bold;
    color: #000000;
    line-height: 20px;
}
.section2,.section3{
  

}
.section1{
    align-items: center;
    margin-bottom: 31px;
    font-size: 18px;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #000000;
    line-height: 27px;
}
.section1 img{
    margin-right: 26px;;
}
.section4 .unlock-wallet{
    display: block;
    width: 100%;
    height: 52px;
    background: linear-gradient(135deg, #3023AE 0%, #C86DD7 100%);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 2px solid #F5F5F5;
    line-height: 52px;
    text-align: center;
}