.myBottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.myBottom .terms-privacy{
font-size: 13px;
font-family: Poppins-Bold, Poppins;
font-weight: bold;
line-height: 20px;
display: block;
}
.myBottom .terms-privacy a{
  color: #000000;
}
.myBottom .terms-privacy .terms{
  padding-right: 32px;
}
.icon {
  display: flex;
}
.icon a{

  display: flex;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
}
.icon a img{
  width: 23px;
  height: 19px;
}
.myBottom .contact{
  font-size: 18px;
  font-family: TwCenMT-Bold, TwCenMT;
  font-weight: bold;
  color: #000000;
  line-height: 19px;
  margin-top: 26px;
}
.myBottom .contact img{
  margin-right: 5px;;
}
.myBottom .copy{
  font-size: 11px;
  font-family: Poppins-Regular, Poppins;
  font-weight: 400;
  color: #666666;
  line-height: 17px;
}