p {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  background: rgb(240,244,245);
  width: 100%;
  height: 100vh;  
}
.appBg {
  /* background-image: url('https://ffcap.oss-cn-hangzhou.aliyuncs.com/imgs/mbg%402.png');
  background-repeat:no-repeat;
  background-position: center bottom;
  background-size: 100% 100%;
  background-attachment:fixed; */
}
.aboutBg {
  
}
.fudBg,.contactBg {
  background: rgb(240,244,245); 
}
.content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.content>header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding:0 40px;
}
.content>header>h2 {
  margin-bottom: 0 ;
}

.content>header>h2 span:nth-of-type(1) {
  display: inline-block;
  width: 16px;
  height: 22px;
}
.content>header>h2 span:nth-of-type(2) {
font-size: 18px;
font-family: TwCenMT-Bold, TwCenMT;
font-weight: bold;
color: #000000;
line-height: 19px;
}
.content>header .unlock-wallet{
 padding: 8px;
background: linear-gradient(135deg, #3023AE 0%, #C86DD7 100%);
box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
border-radius: 3px;
border: 1px solid #F5F5F5;
text-align: center;
line-height: 19px;
font-size: 13px;
font-family: Poppins-Bold, Poppins;
font-weight: bold;
color: #FFFFFF;
}
.content>header img {
  width: 24px;
  height: 24px;
}
.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
  border: 0 !important
}
.ant-tabs-tab.ant-tabs-tab-active {
  border: 0 !important
}
.ant-tabs-ink-bar{
  background: none !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #EFBB24 !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.my-logo {
  
}



