.Menu {
  display: flex;
  align-items: center;
  padding-top: 160px;
  height: 100%;
  flex-direction: column;
  background: rgb(240,244,245);

}
.Menu .navtab {
  font-size: 16px;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  color: #000000;
  line-height: 25px;
  margin-bottom: 36px;
}
.Menu .navtab.active {
  background: linear-gradient(to right, #3023AE, #C86DD7);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
 
}